<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileticketpay.mobile_ticket_pay">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="mobile_ticket_pay"
        android:icon="@mipmap/ic_launcher">

        <!-- Add the following entry, with your API key -->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrKfzhhUKdGeXiMGMA5dEm-gE_4K49WAs"/>


    </application>

</manifest>
